/* Estilos globales */
body {
    line-height: 1.0;
    margin: 0;
    padding: 0;
    background-color: #c9c9c1;
    color: #252424;
    background-image: linear-gradient(
        to bottom,
        rgba(231, 231, 0, 0.5),
        rgba(44, 124, 216, 0.5)
      ), url("boca_juniors.jpg");
}


/* Estilo para el encabezado del artículo */
article header {
    background-color: #0099ff;
    image-resolution: 4px;
    color: #fffefe;
    padding: 1em 0;
    text-align: center;
    text-size-adjust: calc(60px);
    white-space: inherit;
    text-shadow: #fff6f6;
    text-combine-upright: initial;
    opacity: calc(80%);
    
}

article {

    border-color: rgb(185, 207, 207);
    border-top-width: 3cm;
    box-shadow: #ffffff;
    text-align: left;
}

/* Títulos */
h1, h2 {
    margin-bottom: 0.5em;
}

/* Fecha del artículo */
article header time {
    font-style: italic;
    color: #353131;
}

/* Estilos para las secciones */
section {
    background-color: #353232;
    margin: 0.5em;
    padding: 1em;
    border-radius: 10px;
    box-shadow: 5 5px 15px rgba(75, 75, 75, 0.1);
    text-shadow: #fff;
    text-decoration-color: rgb(255, 255, 255);
}

/* Estilos para listas */
ul {
    padding-left: 10px;
}

ul ul {
    list-style-type: square;
}

/* Estilos para el formulario */
form {
    background-color: #293138;
    padding: 1em;
    border-radius: 12px;
}

form label {
    display: inline-block;
    margin-bottom: 0.5em;
}

form input[type="text"],
form input[type="email"],
form textarea {
    width: 100%;
    padding: 0.5em;
    margin-bottom: 1em;
    border: 1px solid #ddd;
    border-radius: 4px;
}

form input[type="submit"] {
    background-color: #2074f1;
    color: rgb(255, 255, 255);
    border: none;
    padding: 0.7em 2em;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.6s;
}

form input[type="submit"]:hover {
    background-color: #0f55ec;
}

/* Estilos para tablas */
table {
    width: 100%;
    mask-border-mode: 4;
    margin-top: 3em;
    margin-bottom: auto;
}

table, th, td {
    border: 2px solid #f7e70b;
}

th, td {
    text-align: center;
    padding: 10px;
}

thead {
    background-color: #ffffff;
    color: #000000;
}

/* Media queries para responsividad. Aún no hemos dado esto y solamente lo quiero mencionar. Busca su significado */
/* aplicar estilos diferentes a un documento HTML en función de las características del 
dispositivo en el que se visualiza la página, 
principalmente basándose en el tamaño de la pantalla y la resolución. */
@media (max-width: 450px){
    body {
        line-height: 0.8;
        margin: 1;
        padding: 1em;
        background-color: #bbb9b9;
        color: #252424;
    }
}