/* Estilos globales */
body {
    line-height: 1.0;
    margin: 0;
    padding: 0;
    background-color: #bbb9b9;
    color: #252424;
}

/* Estilo para el encabezado del artículo */
article header {
    background-color: #e7d84c;
    image-resolution: 4px;
    color: #fff;
    padding: 1em 0;
    text-align: center;
    text-decoration: line-through;
    text-size-adjust: calc(180px);
    white-space: inherit;
    text-shadow: #252424;
    text-combine-upright: initial;
    
}

article {

    border-color: cadetblue;
    border-top-width: 0lvb;
    box-shadow: #252424;
}

/* Títulos */
h1, h2 {
    margin-bottom: 0.5em;
}

/* Fecha del artículo */
article header time {
    font-style: italic;
    color: #2b2626;
}

/* Estilos para las secciones */
section {
    background-color: #252424;
    margin: 0.5em;
    padding: 1em;
    border-radius: 5px;
    box-shadow: 15 5px 15px rgba(1,0,5,0.1);
}

/* Estilos para listas */
ul {
    padding-left: 10px;
}

ul ul {
    list-style-type: square;
}

/* Estilos para el formulario */
form {
    background-color: #293138;
    padding: 1em;
    border-radius: 12px;
}

form label {
    display: inline-block;
    margin-bottom: 0.5em;
}

form input[type="text"],
form input[type="email"],
form textarea {
    width: 100%;
    padding: 0.5em;
    margin-bottom: 1em;
    border: 1px solid #ddd;
    border-radius: 4px;
}

form input[type="submit"] {
    background-color: #2074f1;
    color: rgb(255, 255, 255);
    border: none;
    padding: 0.7em 2em;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.6s;
}

form input[type="submit"]:hover {
    background-color: #0f55ec;
}

/* Estilos para tablas */
table {
    width: 100%;
    mask-border-mode: 4;
    margin-top: 3em;
    margin-bottom: auto;
}

table, th, td {
    border: 2px solid #f7e70b;
}

th, td {
    text-align: center;
    padding: 10px;
}

thead {
    background-color: #ffffff;
    color: #000000;
}

/* Media queries para responsividad. Aún no hemos dado esto y solamente lo quiero mencionar. Busca su significado */
/* aplicar estilos diferentes a un documento HTML en función de las características del 
dispositivo en el que se visualiza la página, 
principalmente basándose en el tamaño de la pantalla y la resolución. */
@media (max-width: 450px){
    body {
        line-height: 0.8;
        margin: 1;
        padding: 1em;
        background-color: #bbb9b9;
        color: #252424;
    }
}